body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    border: border-box;
}

header {
    width: 100%;
    background-color: #007BFF;
    color: white;
}

nav {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

nav h1 {
    margin: 0;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: inline-block; */
    float: right;
    margin-top: -20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Subtracting header height */
    text-align: center;
}

h2 {
    color: #333;
    font-size: 36px;
    margin: 20px 0;
}

.search-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
}

.search-bar {
    flex: 1;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
}

.search-button {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #ccc;
    color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
    background-color: #bbb;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#searchResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#searchResult h3 {
    font-size: 24px; 
    margin-bottom: 20px;
}

#resultContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}

.book {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.book:hover {
    transform: scale(1.05);
}

.book img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.blue-boxes-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Five columns per row */
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto; /* Center the grid horizontally */
    justify-items: center; /* Center items horizontally within the grid */
}